
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners</title>
    <script src="https://kit.fontawesome.com/bc4d7d5bce.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
</head>
<body>

    <!-- start body -->

    <div class="container-fluid">

        <section class="row">

<!--            sidebar-->
            {% include 'sidebar.html' %}
<!--    endsidebar-->

<!--            top bar-->

            <div class="col-md-9">

                {% include 'topbar.html' %}

                <section class="row">
                    <div class="col-md-4"><h4>Drivers</h4></div>
                    <div class="col-md-4">
                       
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <a href="/adddriver" class="" style="text-decoration: none; color: black;">Add driver?</a>
                    </div>
                </section>
                <section class="row">
                    <div class="col-md-10 card p-2 shadow ms-3">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes style="list-style: none;">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                        <input type="text" id="search_word" name="search_word" placeholder="Search by phone, email, surname..." class="form-control">
                        <div id="result">
                            <!-- ownerresponse html will load here -->
    
                        </div>
                    </div>
                    <br>

                </section>

            </div>



<!--            endtopbar-->


        </section>

    </div>


    <!-- end body -->

    <!--  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'script/index.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/driverui.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!--  -->

</body>
</html>