<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bc4d7d5bce.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
</head>
<body>

    <!-- start body -->

    <div class="container-fluid">

        <section class="row">

<!--            sidebar-->
            {% include 'sidebar.html' %}
<!--    endsidebar-->

<!--            top bar-->

            <div class="col-md-9">

                {% include 'topbar.html' %}


                <section class="row">
                    <div class="col-md-11 card p-2 shadow ms-3">
                        <form action="" id="vehicleForm">

                            <section class="row justify-content-around">
                                <div class="col-md-12 text-center">

                                    <!-- {% for ownerid in ownerid %}
                                        {{ownerid[0]}}
                                    {% endfor %} -->
                                    <h3>Add vehicle for
                                        {{owner_id}}


                                    </h3>
                                </div>

                                <br><br>

                                <div class="col-md-4">
                                    <input type="hidden" id="owner_id" value="{{owner_id}}" class="form-control">
                                    <br>
                                    <input type="text" id="reg_no" placeholder="Enter registration number" class="form-control">
                                    <br>
                                    Select vehicle type
                                    <br>
                                    {% if types %}
                                    <select id="type_id" class="form-control form-select">
                                        {% for type in types %}
                                        <option value="none"selected disabled hidden>Select car type>
                                            <option value="{{type[0]}}">{{type[1]}}</option>
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                    <br>
                                    Select vehicle make
                                    <br>
                                    {% if makes %}
                                    <select id="make_id" class="form-control form-select">
                                        <option value="none" selected disabled hidden>Select car make</option>
                                        {% for make in makes %}
                                            <option value="{{make[0]}}">{{make[1]}}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                    <br>
                                    Select vehicle model
                                    <br>
                                    <select id="model_id" class="form-control form-select">
                                        <option value="none" selected disabled hidden>Select car model</option>
                                    </select>
                                    <br>
                                    Select vehicle capacity
                                    <br>
                                    {% if capacitys %}
                                    <select id="capacity_id" class="form-control form-select">
                                        {% for capacity in capacitys %}
                                        <option value="{{capacity[0]}}">
                                            {{capacity[1]}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                    <br>
                                    <!-- <input type="text" id="make" placeholder="Enter car make i.e Mercedes" class="form-control">
                                    <span style="color: yellow;" id="warningAlert"></span>
                                    <br>
                                    <input type="submit" value="Add Make" class="btn btn-info"> -->
                                </div>
                                <div class="col-md-4">
                                    <br>
                                    <input type="text" id="weight" placeholder="Enter weight in tonnes" class="form-control">
                                    <br>
                                    <input type="text" id="no_of_pass" placeholder="Enter number of passengers" class="form-control">
                                    <br>
                                    Enter year of manufacture
                                    <br>
                                    <input type="text" id="yom" placeholder="Enter year of manufacture" class="form-control">
                                    <br>
                                    <input type="text" id="color" placeholder="Enter vehicle color" class="form-control">
                                    <br>
                                    <!-- Select vehicle owner
                                    <br>
                                    {% if owners %}
                                    <select id="owner_id" class="form-control form-select">
                                        {% for owner in owners %}
                                        <option value="{{owner[0]}}">
                                            {{owner[1]}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                    <br> -->
                                    <input type="number" id="chassis_no" placeholder="Enter chassis number" class="form-control">
                                    <br>
                                    <label for="vehicle_pic">Upload vehicle picture</label>
                                    <input type="file" id="vehicle_pic" name="files[]" multiple = "multiple" class="form-control">
                                    <br>
                                    <!-- <input type="text" id="phone" placeholder="Enter phone number .i.e +2547XXXXXXXX" class="form-control">
                                    <br> -->
                                </div>
                                <section class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <input type="submit" value="Add vehicle" class="btn btn-info">
                                    </div>
                                    <div class="col-md-4"></div>
                                </section>
                                <br>

                            </section>

                            <br>
                            <!-- to show ajax responses -->
                            <span style="color: red;" id="error"></span>
                            <span style="color: red;" id="error2"></span>
                            <span style="color: blue;" id="success"></span>
                            
                        </form>
                        <br>

                    </div>


                </section>

            </div>



<!--            endtopbar-->


        </section>

    </div>


    <!-- end body -->

    <!--  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'script/index.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/addvehicle.js') }}"></script>

    <script>
        $(document).ready(
            function() {
                $("#make_id").change(
                    function() {
                        var make_id = $(this).val();
                        $.ajax(
                            {
                                url:"/getmodels",
                                type:"post",
                                data:{make_id:make_id},
                                dataType:"json",
                                success:function(response) {
                                    if(response.error) {
                                        $("#model_id").empty();
                                        $("#model_id").append(
                                            "<option value='none'>No models<option>"
                                        );
                                    }
                                    else {
                                        var len = response.length
                                        $("#model_id").empty();
                                        for(let i = 0; i < len; i++){
                                            let model_id = response[i]['model_id'];
                                            let model_name = response[i]['model_name'];
                                            $("#model_id").append(
                                                "<option value='"+model_id+"'>"+model_name+"<option>"
                                            );
                                        };
                                    }
                                }// end success
                            }
                        )
                    }
                )
            }
        )
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!--  -->

</body>
</html>