
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bc4d7d5bce.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
</head>
<body>

    <!-- start body -->

    <div class="container-fluid">

        <section class="row">

<!--            sidebar-->
            {% include 'sidebar.html' %}
<!--    endsidebar-->

<!--            top bar-->

            <div class="col-md-9">

                {% include 'topbar.html' %}


                <section class="row">
                    <h4>Create service</h4>
                    <div class="col-md-4 card p-2 shadow ms-3">
                        Reg No.: {{session['reg_no']}}
                        <br>
                        <form action="" id="serviceForm">
                            <input type="hidden" id="reg_no" value="{{session['reg_no']}}" class="form-control">
                            <label for="scheduled_date">Date</label>
                            <input type="date" id="scheduled_date" class="form-control">
                            <label for="scheduled_time">Time</label>
                            <input type="time" id="scheduled_time" class="form-control">

            
                            <label for="list">Framework List:</label><br>
                            <select id="list" class="form-control" name="list" multiple><br>
                                <option value="Oil change">Oil change</option>
                                <option value="Oil filter">Oil filter</option>
                                <option value="Air filter">Air filter</option>
                                <option value="Fuel filter">Fuel filter</option>
                                <option value="Tyre">Tyre</option>
                            </select>
                            <button id="btnRemove">Remove Selected Framework</button>


                            <span style="color: yellow;" id="warningAlert"></span>
                            <br>
                            <input type="submit" value="Submit service" class="btn btn-info">
                        </form>
                        <br>
                        <!-- to show ajax responses -->
                        <span style="color: red;" id="errorAlert"></span>
                        <span style="color: blue;" id="successAlert"></span>
                    </div>


                </section>

            </div>



<!--            endtopbar-->


        </section>

    </div>


    <!-- end body -->

    <!--  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'script/index.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/send_service.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script>
        var sel = document.getElementById('services');

        sel.onchange = function() {
        var val = this.options[this.selectedIndex].value;
        var che = document.getElementById('cache').append(val+",");
        che = val;
        console.log(che);
        }
    </script>
    <!-- <script>
        const btnAdd = document.querySelector('#btnAdd');
        const btnRemove = document.querySelector('#btnRemove');
        const listbox = document.querySelector('#list');
        const framework = document.querySelector('#framework');

        btnAdd.onclick = (e) => {
        e.preventDefault();

        // validate the option
        if (framework.value == '') {
            alert('Please enter the name.');
            return;
        }
        // create a new option
        const option = new Option(framework.value, framework.value);
        // add it to the list
        listbox.add(option, undefined);

        // reset the value of the input
        framework.value = '';
        framework.focus();
        };

        // remove selected option
        btnRemove.onclick = (e) => {
        e.preventDefault();

        // save the selected options
        let selected = [];

        for (let i = 0; i < listbox.options.length; i++) {
            selected[i] = listbox.options[i].selected;
        }

        // remove all selected option
        let index = listbox.options.length;
        while (index--) {
            if (selected[index]) {
            listbox.remove(index);
            }
        }
        };

    </script> -->
    <!--  -->

</body>
</html>