
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bc4d7d5bce.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'strength.css') }}">
</head>
<body>

    <!-- start body -->

    <div class="container-fluid">

        <section class="row">

<!--            sidebar-->
            {% include 'sidebar.html' %}
<!--    endsidebar-->

<!--            top bar-->

            <div class="col-md-9">

                {% include 'topbar.html' %}


                <section class="row">
                    <div class="col-md-4 card p-2 shadow ms-3">
                        <form action="" id="changeForm">
                            <input type="password" id="current_pswd" placeholder="Enter current password" class="form-control">
                            <span style="color: red;" id="currentwrong"></span>
                            <br>
                            <input id="new_pswd" type="password" placeholder="Enter new password" class="form-control">
                            <span style="color: red;" id="newwrong"></span>
                            <br>
                            <input type="password" id="con_pswd" placeholder="Confirm password" class="form-control">
                            <span style="color: red;" id="conwrong"></span>
                            <br>
                            <input type="submit" value="Change password" class="btn btn-info">
                        </form>
                        <br>
                        <!-- to show ajax responses -->
                        <span style="color: red;" id="errorpswd"></span>
                        <span style="color: blue;" id="consuccess"></span>
                    </div>


                </section>

            </div>



<!--            endtopbar-->


        </section>

    </div>


    <!-- end body -->

    <!--  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'script/index.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/changepassword.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/strength.js') }}"></script>
    <script src="{{url_for('static', filename = 'script/js.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script>




        $(document).ready(function($) {
            
        $('#new_pswd').strength({
                    strengthClass: 'strength',
                    strengthMeterClass: 'strength_meter',
                    strengthButtonClass: 'button_strength',
                    strengthButtonText: 'Show Password',
                    strengthButtonTextToggle: 'Hide Password'
                });
        
        });
        
        </script>

    <!--  -->

</body>
</html>